.kilimanjaro-large {
  display: none;
}
.experience-large {
  display: none;
}
.contact-large {
  display: none;
}

@media screen and (min-width: 600px) {

  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex;
      max-width: 1300px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  .nav {
    max-width: 1200px;
  }

  /* Styles for larger screens */
  header {
    min-height: 470px;
    max-height: 470px;
  }

  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}


@media screen and (min-width:935px) {
  .kilimanjaro {
    display: none;
  }
  .kilimanjaro-large {
    display: block;
  }
    .experience {
    display: none;
  }
  .experience-large {
    display: block;
  }
    .contact {
    display: none;
  }
  .contact-large {
    display: block;
  }
}